name: coverage

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "**.md"
      - "LICENSE"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "**.md"
      - "LICENSE"

jobs:
  macos:
    name: macos
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Enable Git long paths
        run: git config --global core.longpaths true
      - uses: robinraju/release-downloader@v1.10
        with:
          repository: "rainyl/opencv_dart"
          tag: "dnn_test_files"
          fileName: "models.zip"
          out-file-path: "packages/dartcv/test/"
          extract: true
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: test coverage
        run: |
          cd "${{github.workspace}}/packages/dartcv"
          dart pub global activate coverage
          dart pub global run coverage:test_with_coverage --package . --package-name dartcv4
  windows:
    name: windows
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
      - name: Enable Git long paths
        run: git config --global core.longpaths true
      - uses: robinraju/release-downloader@v1.10
        with:
          repository: "rainyl/opencv_dart"
          tag: "dnn_test_files"
          fileName: "models.zip"
          out-file-path: "packages/dartcv/test/"
          extract: true
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: test coverage
        run: |
          cd "${{github.workspace}}\packages\dartcv"
          dart pub global activate coverage
          dart pub global run coverage:test_with_coverage --package . --package-name dartcv4
      - name: Upload to Codecov
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
          flags: unittests
          directory: ${{github.workspace}}/packages/dartcv/coverage
          file: ${{github.workspace}}/packages/dartcv/coverage/lcov.info
          verbose: true
