name: linux

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches: [ "main" ]

jobs:
  ubuntu:
    name: ubuntu
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        arch: [x64]
    env:
      COMMON_CMAKE_OPTIONS: |
        -DCMAKE_INSTALL_PREFIX=install \
        -DCMAKE_BUILD_TYPE=Release \

    steps:
      - name: setup
        run: |
          sudo apt-get update

          sudo apt-get install -y curl unzip build-essential \
            libgtk-3-dev ffmpeg libavcodec-dev \
            cmake ninja-build libavformat-dev libavutil-dev \
            libswscale-dev libgflags-dev \
            libjpeg-dev libpng-dev libtiff-dev
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: robinraju/release-downloader@v1.10
        with:
          repository: "rainyl/opencv.full"
          latest: true
          fileName: "libopencv-linux-${{ matrix.arch }}.tar.gz"
          out-file-path: "build/opencv"
          extract: true
      - name: build
        run: |
          cd build
          cmake -S ${{ github.workspace }} \
          ${{ env.COMMON_CMAKE_OPTIONS }} \
          -DOpenCV_DIR=${{ github.workspace }}/build/opencv/lib/cmake/opencv4

          cmake --build . --config Release -j $(nproc)
          cmake --build . --config Release --target install
      - name: package
        run: |
          tar -C build/install -zcvf libopencv_dart-linux-${{ matrix.arch }}.tar.gz .
      - uses: actions/upload-artifact@v4
        name: upload
        with:
          path: libopencv_dart-linux-${{ matrix.arch }}.tar.gz
          name: libopencv_dart-linux-${{ matrix.arch }}.tar.gz
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.6'
          channel: "stable"
      - name: test
        run: |
          cp -rf build/install/* linux/
          export OPENCV_DART_LIB_PATH="${{github.workspace}}/linux/libopencv_dart.so"
          dart pub get
          dart test -x skip-workflow,no-local-files
      - name: release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: true
          prerelease: false
          files: |
            libopencv_dart-linux-${{ matrix.arch }}.tar.gz
